/* Variables */
$text-light: #ffffff;
$text-main: #435261;
$text-header: #000000;

$color-gold: gold;
$color-grey: #b4b4b4;

$font-title: 'Lato', sans-serif;
$font-main: 'Roboto', monospace;




/* Global */
*, *::after, *::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-main;
  color: $text-main;
}
section {
  padding: 96px 0;
}
.container {
  max-width: 1140px;
  padding: 20px 20px;
  margin: 0 auto;
}
/* Navigation */
.navigation {
  height: 100vh;
  padding: 20px 0;
  position: relative;
  background-image: url('../images/close-up-photography-of-smartphone-beside-binder-clip-1841841.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.navigation-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.brand-title {
  color: $color-gold;
  font-family: $font-title;
  font-style: oblique;

}
.navigation-menu ul li {
  display: inline-block;
  a {
    text-decoration: none;
    font-family: $font-main;
    color: $text-light;
    padding: 0 20px;
  }
}
.navigation-menu ul li a:hover {
  background: $text-light;
  color: $text-header;
}
.splash-inner {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splash-inner .page-title {
  font-family: $font-title;
  font-style: italic;
  font-size: 40px;
  color: $text-light;
}
.splash-inner .page-subtitle {
  font-family: $font-main;
  font-weight: bold;
  font-size: 58px;
  color: $text-light;
}
.btn {
  color: $text-light;
  background: $color-gold;
  padding: 20px 25px;
  font-weight: bold;
  font-family: $font-main;
  font-size: 32px;
  border-radius: 5px;
  border: 1px $text-header solid;
  text-decoration: none;
}
/* Services */
.container h1,p {
  text-align: center;
}
.container h1 {
  color: $text-header;
  font-size: 40px;
  font-family: $font-main;
  font-weight: bold;
}
.container p {
  font-style: italic;
  font-size: 20px;
  font-family: $font-title;
  color: $color-grey;
}
.card-body h3 {
  text-align: center;
  color: $text-header;
  margin-bottom: 0;
}
.card-body p {
  text-align: center;
  color: $color-grey;
  font-size: 16px;
  margin-top: 0;
}
.card-image {
  text-align: center;
  text-align: -webkit-center;
  i {
    display: flex;
    text-align: center;
    font-size: 44px;
    color: $color-gold;
    background: $text-light;
    width: 76px;
    height: 76px;
    border: $color-gold 3px solid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
}
/* Portfolio */
.portfolio {
  background: #f3f1f1;
  .card-body {
    display: flex;
    background: $text-light;
    border: 1px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}
/* Footer */
.footer {
  background: $text-light;
}
.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .footer-company {
  font-size: 14px;
  font-family: $font-main;
  font-weight: bold;
  color: $text-main;
}
.footer .social-links ul li{
  display: inline-block;
  font-size: 0;
  a {
    text-decoration: none;
  }
  i {
    font-size: 36px;
    color: $text-main;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .navigation-menu ul li a {
    padding: 0;
  }
  .wrapper {
    flex-direction: column;
  }
  .splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .splash-inner .page-title {
    font-size: 20px;
    margin: 0 auto;
  }
  .splash-inner .page-subtitle {
    font-size: 40px;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
    .navigation-menu ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}